# Natural Language Processing
nltk==3.9
textstat==0.7.2

# Data processing and analysis
numpy==1.22.0
scikit-learn==1.5.0

# Graph creation and analysis
networkx==2.6.3

# Anthropic API for Claude integration
anthropic==0.3.4
